.app {
    min-height: 100vh;
    width: calc(100vw - (100vw - 100%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #3A4A65;
}

p {
    color: #3F7DE8;
    cursor: pointer;
}

p:hover {
    text-decoration: underline;
}

button {
    border: 4px solid #3A4A65;
    border-radius: 12px;
    padding: 10px 40px;
    background: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}