:root {
  --red: #f2545b;
  --green: #04c704;
  --black-p: #3d3d3d;
  --gray-p: #cbd6e2;
  --gray-s: #F5F8FA;
  --gray-3: #33475b;
  --blue-p: #00C6D7;
  --blue-s: #125AD5;
  --blue-3: #3f7de8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}